* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

#world {
  max-height: 35%;
  max-width: 20%;
  position: absolute;
  top: 30%;
  background-color: #0d2d97;
}

#left {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #0d2d97;
  border-right: brown 10px solid;
}

#middle {
  background-color: aqua;
  display: flex;
  justify-content: center;
}

#middle h1 {
  margin-top: 30px;
  font-size: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#upgrades {
  background-color: beige;
  display: flex;
  flex-direction: column;
  border-left: brown 10px solid;
}
#upgrades button:first-child {
  margin-top: 300px;
}
#upgrades button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-bottom: black 5px solid;
}
#upgrades button:hover {
  background-color:#757575;
  color: white;
}
#upgrades button:active {
  background-color: black;
}

#rickBtn {
  transition: width 0.05s;
  transition: height 0.05s;
  position: absolute;
  bottom: 0px;
}